nav {
  position: fixed;
  top: 0;
}

body > * {
  margin: 0 4%;
  width: 92%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
form.searchBar {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0;
}
form.searchBar div.searchBar {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}
form.searchBar .filtresTri {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

form.searchBar .filtresTri select {
  width: fit-content;
}
div.searchBar i {
  color: #001a23;
  opacity: 0.4;
}

div.searchBar,
select {
  border-radius: 6px;
  background: #f3f3f3;
  padding: 8px 8px;
  border: 0;
  color: #001a23;
  opacity: 0.8;
  outline: none;
  font-size: 12px;
  font-weight: 500;
}
input {
  font-size: 12px;
  border: none;
  outline: none;
  font-weight: 500;
  flex-grow: 1;

  background-color: transparent;
}
input::placeholder {
  color: #001a23;
  opacity: 0.2;
  font-size: 12px;
}
select {
  font-weight: 500;
}


.cartesPartenaire {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Enables wrapping to the next row */
  gap: 20px; /* Space between items */
}
.sectionPart {
  display: flex;
  flex-direction: column;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

body.favoris .sections{
  margin-top: 10px;
}

#offersTable {
  margin-top: 20px;
  width: 100%;
  background-color: white;

  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
#offersTable td {
  text-align: center;
  padding: 14px 0;
  border: none;
  font-size: 17px;
  font-weight: 500;
  color: #001a23;
}

#offersTable tr:nth-child(odd) {
  background-color: rgba(12, 26, 75, 0.04);
}

#offersTable tr:first-child td {
  font-size: 18px;
  font-weight: 600;
  padding: 16px 0;
  color: white;
}

#offersTable tr:first-child {
  background-color: rgba(0, 26, 35, 1);
  border-radius: 14px 14px 0 0;
}
