body .content {
  margin-left: 4%;
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  width: 92%;
  
  gap: 40px;
  
}
body.t .content {
  height: 80vh;
}

body.t{
  overflow-y: hidden;
}

.subContent {
  display: flex;
  height: 70vh;
  width: 100%;
  justify-content: space-between;
}
.subContent.carte,.subContent.partenaires {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  
}
.subContent.cartes {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
}
.subContent.carte {
  width: 100%;
}
.subContent div.line {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.subContent form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.subContent form#users,.subContent form#partenaires {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
}

.subContent form .buttonContainer {
  display: flex;
  justify-content: end;
}

.lineContainer{
    display: flex;
    flex-direction: column;
    gap:30px;
    
  }


.contentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 4%;
}

#photoInput{
    display: none;
}
div.inputPhoto{
    position: absolute;
    bottom: 4px;
    right: 4px;
}
#photoPen{
    padding: 10px;
    background-color:#F5F6FB;
    border: white 2px solid;
    border-radius: 100%;
    color: #001a23;
    cursor: pointer;
}
form .photo{
    position: relative;
}
form .photo img{
    border-radius: 100%;
}

form .col{
    width: 36vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#rules *{
  font-size: 12px;
  font-weight: 400;
  list-style-type: disc;
}
ul#rules{
  padding: 0 0 0 10px;  
}

.content .subContent .paiement{
  display: flex;
  margin: 0;
  width: 100%;
}


.subContent .users{
  width: 100%;
}

form.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding: 0;
}
form.searchBar div.searchBar {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}
form.searchBar .filtresTri {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

form.searchBar .filtresTri select {
  width: fit-content;
}
div.searchBar i {
  color: #001a23;
  opacity: 0.4;
}

div.searchBar,
select {
  border-radius: 6px;
  background: #f3f3f3;
  padding: 8px 8px;
  border: 0;
  color: #001a23;
  opacity: 0.8;
  outline: none;
  font-size: 12px;
  font-weight: 500;
}
input {
  font-size: 12px;
  border: none;
  outline: none;
  font-weight: 500;
  flex-grow: 1;

  background-color: transparent;
}
input::placeholder {
  color: #001a23;
  opacity: 0.2;
  font-size: 12px;
}
select {
  font-weight: 500;
}

